* {
    margin:0;
    padding:0;
}

html {
    font-family: 'Kaisei Tokumin', serif;
    font-size: 62.5%;
}

body {
    background-color: #080808;
    color: white;
    font-size: 15px;
}

a {
    color: white;
}

ul {
    list-style-type: none;
}

a:hover{
    color: red;
    text-decoration: none;
}

p {
    text-align: center;
}

/* HEADER AND HOME*/

.headerFlex {
    background-color: #080808;
    list-style-type: none;
    font-size: 15px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.imgHeader {
    display: flex;
    float: left;
    width: 60px;
    height: 60px;
    filter:invert(100%);
}


.headerMenu{
    display: flex;
    flex-direction: row;
    margin: 10px;   
    padding: 20px;
}
.headerMenu a{
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

.gifVideo{
    margin: auto;
    display: block;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    width: auto;
    margin-bottom: 30px;
}

.titleSWS{
    display: flex;
    justify-content: center;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

    @keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
    }

.albumsIndex{
    width: 250px;
    height: auto;
    margin: 20px;
}

body main p{
    text-align: center;
}

body main{
    padding: 20px;
}

.videoHome {
    text-align: center; 
    padding: 20px;   
}

.merchAndEmail {
    text-align: center;
    margin: 30px;
}

.merchAndEmail span{
    color: red;
}

/* BAND */

.membersBand{
    margin: 20px;
}

h4{
    margin: 20px;
    text-align: center;
}

/* ALBUMS */

.albumsTable {
    table-layout: fixed;
    width: 60%;
    border: 10px white;
    text-align: center;
    margin: auto;
    list-style-type: none;
}

.albumS{
    text-align: center;
}


/* GALLERY */
.flexMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerGallery {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
    grid-template-areas:
        "containerImg1 containerImg2 containerImg3"
        "containerImg4 containerImg5 containerImg6"
        "containerImg7 containerImg8 containerImg9"
        "containerImg10 containerImg11 containerImg12";
}

.containerImg1 {
    grid-area: "containerImg1";
    width: 100%;
}

.containerImg2 {
    grid-area: "containerImg2";
    width: 100%;
}

.containerImg3 {
    grid-area: "containerImg3";
    width: 100%;
}

.containerImg4 {
    grid-area: "containerImg4";
    width: 100%;
}

.containerImg5 {
    grid-area: "containerImg5";
    width: 100%;
}

.containerImg6 {
    grid-area: "containerImg6";
    width: 100%;
}

.containerImg7 {
    grid-area: "containerImg7";
    width: 100%;
}

.containerImg8 {
    grid-area: "containerImg8";
    width: 100%;
}

.containerImg9 {
    grid-area: "containerImg9";
    width: 100%;
}

.containerImg10 {
    grid-area: "containerImg10";
    width: 100%;
}

.containerImg11 {
    grid-area: "containerImg11";
    width: 100%;
}

.containerImg12 {
    grid-area: "containerImg12";
    width: 100%;
}


.flexMain img:hover{
    filter: grayscale(100%);
}


/* CONTACT */

.contactForm{
    text-align: center;
    padding: 20px;
}

form label{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

 /* FOOTER */
.footer{
    background: linear-gradient(to bottom, #080808, #434343);
    list-style-type: none;
    font-size: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
} 

.footerRedes{
    display: flex;
    flex-direction: row;
    margin: auto;   
    padding: 30px;
}

.footerRedes a{
    padding: 30px;
}

.footerRedes img {
    width: 40px;
    height: auto;
}

/*responsive/*/

@media (max-width: 600px) {
    .headerMenu {
        display: flex;
        flex-direction: column;
    }

    .gifVideo{
        width: 100%;
    }

    .responsive{
        width:auto; 
    }
}
