.headerFlex {
  background-color: #080808;
  list-style-type: none;
  font-size: 15px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerFlex .headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
  padding: 20px;
}

.headerFlex .headerMenu a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 10px;
}

.imgHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 60px;
  height: 60px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.gifVideo {
  margin: auto;
  display: block;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 20px;
  width: auto;
  margin-bottom: 30px;
}

.titleSWS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main_title {
  padding: 20px;
}

.main_title .main__parrafo {
  text-align: center;
}

.videoHome {
  text-align: center;
  padding: 20px;
}

.merchAndEmail {
  text-align: center;
  margin: 30px;
}

.merchAndEmail span {
  color: red;
}

.flexMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flexMain .containerGallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-bottom: 30px;
      grid-template-areas: "containerImg1 containerImg2 containerImg3" "containerImg4 containerImg5 containerImg6" "containerImg7 containerImg8 containerImg9" "containerImg10 containerImg11 containerImg12";
}

.flexMain .containerGallery .containerImg1 {
  grid-area: "containerImg1";
  width: 100%;
}

.flexMain .containerGallery .containerImg2 {
  grid-area: "containerImg2";
  width: 100%;
}

.flexMain .containerGallery .containerImg3 {
  grid-area: "containerImg3";
  width: 100%;
}

.flexMain .containerGallery .containerImg4 {
  grid-area: "containerImg4";
  width: 100%;
}

.flexMain .containerGallery .containerImg5 {
  grid-area: "containerImg5";
  width: 100%;
}

.flexMain .containerGallery .containerImg6 {
  grid-area: "containerImg6";
  width: 100%;
}

.flexMain .containerGallery .containerImg7 {
  grid-area: "containerImg7";
  width: 100%;
}

.flexMain .containerGallery .containerImg8 {
  grid-area: "containerImg8";
  width: 100%;
}

.flexMain .containerGallery .containerImg9 {
  grid-area: "containerImg9";
  width: 100%;
}

.flexMain .containerGallery .containerImg10 {
  grid-area: "containerImg10";
  width: 100%;
}

.flexMain .containerGallery .containerImg11 {
  grid-area: "containerImg11";
  width: 100%;
}

.flexMain .containerGallery .containerImg12 {
  grid-area: "containerImg12";
  width: 100%;
}

.flexMain img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.contact_form {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.contact__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#080808), to(#434343));
  background: linear-gradient(to bottom, #080808, #434343);
  list-style-type: none;
  font-size: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footerRedes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  padding: 30px;
}

.footer .footerRedes a {
  padding: 30px;
}

.footer .footerRedes a img {
  width: 40px;
  height: auto;
}

.albumsTable {
  table-layout: fixed;
  width: 60%;
  border: 10px white;
  text-align: center;
  margin: auto;
  list-style-type: none;
  text-align: center;
}

.albums_padre {
  text-align: center;
}

.albums_padre .albums_gallery {
  width: 250px;
  height: auto;
  margin: 20px;
  text-align: center;
}

.membersBand {
  margin: 20px;
  text-align: center;
}

.h4 {
  margin: 20px;
  text-align: center;
}

.card_ppl {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.card_ppl .card_img {
  text-align: center;
  width: 150px;
  height: auto;
}

.card_ppl .card_img .card_text {
  text-align: center;
}

.footerRedes :hover.btn-twitter {
  color: lightblue;
}

.footerRedes :hover.btn-facebook {
  color: blue;
}

.footerRedes :hover.btn-youtube {
  color: red;
}

.footerRedes :hover.btn-spotify {
  color: green;
}

.footerRedes :hover.btn-instagram {
  color: pink;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Kaisei Tokumin', serif;
}

html {
  font-family: 'Kaisei Tokumin', serif;
  font-size: 62.5%;
}

body {
  background-color: #080808;
  color: white;
  font-size: 15px;
}

a {
  color: white;
}

a:hover {
  color: red;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  text-align: center;
}

/*responsive/*/
@media (max-width: 600px) {
  .headerFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gifVideo {
    width: 50%;
  }
  .responsive {
    width: auto;
  }
  .main_title {
    padding: 20px / 2;
  }
}
/*# sourceMappingURL=styles.css.map */