
.albumsTable {
    table-layout: fixed;
    width: 60%;
    border: 10px white;
    text-align: center;
    margin: auto;
    list-style-type: none;
    text-align: center;
}

.albumS{
    text-align: center;
}
