
.albumsTable {
    table-layout: fixed;
    width: 60%;
    border: 10px white;
    text-align: center;
    margin: auto;
    list-style-type: none;
    text-align: center;
}

.albums_padre{
    text-align: center;

    .albums_gallery{
            width: 250px;
            height: auto;
            margin: 20px;
            text-align: center;
}}
