
.contact_form{
    text-align: center;
    padding: 20px;
    width: 100%;
}
    .contact__label{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
