
@import "header";
@import "index";
@import "band";
@import "gallery";
@import "contact";
@import "footer";
@import "albums";

* {
    margin:0;
    padding:0;
    font-family: 'Kaisei Tokumin', serif;
}

html {
    font-family: 'Kaisei Tokumin', serif;
    font-size: 62.5%;
}

body {
    background-color: #080808;
    color: white;
    font-size: 15px;
}

a {
    color: white;
    &:hover{
    color: red;
    text-decoration: none;
}}


ul {
    list-style-type: none;
}

p {
    text-align: center;
}

/*responsive/*/

@media (max-width: 600px) {
    .headerMenu {
        display: flex;
        flex-direction: column;
    }

    .gifVideo{
        width: 100%;
    }

    .responsive{
        width:auto; 
    }
}

