
@import "header";
@import "index";
@import "gallery";
@import "contact";
@import "footer";
@import "albums";
@import "band";

$redes: (
    twitter: lightblue,
    facebook: blue,
    youtube: red,
    spotify: green,
    instagram: pink
);

@each $red, $color in $redes {
    .footerRedes :hover.btn-#{$red}{
        color:$color;
    }
}


* {
    margin:0;
    padding:0;
    font-family: 'Kaisei Tokumin', serif;
}

$fontsize: 30px;


html {
    font-family: 'Kaisei Tokumin', serif;
    font-size: 62.5%;
}

body {
    background-color: #080808;
    color: white;
    font-size: $fontsize / 2;
}

a {
    color: white;
    &:hover{
    color: red;
    text-decoration: none;
}}


ul {
    list-style-type: none;
}

p {
    text-align: center;
}


/*responsive/*/

@media (max-width: 600px) {
    .headerFlex {
        display: flex;
        flex-direction: column;
    }

    .gifVideo{
        width: 50%;
    }

    .responsive{
        width:auto; 
    }

    .main_title{
        padding: 20px / 2;
}
}
